{% extends "base.html" %}

{% block title%}Cart | LibrePress{% endblock %}

{% block content %}
<main class="cart-page">
    <h1>Your Cart</h1>

    {% if books %}
    <div class="cart-items">
        {% for book in books %}
        <div class="cart-item">
            <img src="{{ url_for('static', filename='img/' + book.cover_image) }}" alt="{{ book.title }}">
            <div class="cart-item-details">
                <h2>{{ book.title }}</h2>
                <h3>{{ book.author }}</h3>
                <p class="cart-item-price">${{ book.price }}</p>
            </div>
            <form action="/remove_from_cart" method="POST">
                <input type="hidden" name="pk" value="{{ book.id }}">
                <button type="submit" class="remove-item">Remove</button>
            </form>
         </div>
         {% endfor %}
    </div>

    <div class="cart-total">
        <p>Total: <strong>${{ "%.2f"|format(total) }}</strong></p>
        <a href="/shipping" class="add-to-cart">Checkout</a>
    </div>

    {% else %}
    <p class="cart-empty">Your cart is empty. <a href="Continue shopping"></a>.</p>
    {% endif %}

</main>
{% endblock %}


